*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
}

/*=============================================*/
/*=================Diapositivas================*/
/*=============================================*/
.PowerPoint{
	width: 100vw;
	overflow: hidden;
	position: relative;
}
.PowerPoint .slide{
	width: 100%;
	display: flex;
}
.PowerPoint .slide section{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}
/*=============================================*/

/*=============================================*/
/*=========Botones de desplasamiento===========*/
/*=============================================*/
.before, .next{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #918066;
	font-size: 50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.before{
	bottom: 0;
	right: 40px;
}
.next{
	bottom: 0;
	right: 0;
}
/*=============================================*/

/*=============================================*/
/*=============Columnas de la pagina===========*/
/*=============================================*/
.row{
	display: flex;
	-webkit-display: flex;
}

.col-4{
	width: 40%;
	-webkit-width: 40%;
}
.col-5{
	width: 50%;
	-webkit-width: 50%;
	display: block;
	padding: 0px 18px;
}
/*=============================================*/

/*=============================================*/
/*==========Imagenes de la Pagina==============*/
/*=============================================*/
.img-100{
	width: 100px !important;
}
.img-200{
	width: 200px !important;
}
.img-250{
	width: 250px !important;
}
.img-300{
	width: 300px !important;
}
.img-400{
	width: 400px !important;
}
.img-500{
	width: 500px;
}
/*=============================================*/

/*=============================================*/
/*===============Color de codigo===============*/
/*=============================================*/
.b{
	color: #288ba8;
}
.g{
	color: #008080
}
.y{
	color: #ffce30;
}
.m{
	color: #746ab0;
}
.r{
	color: #e83845;
}
/*=============================================*/