*,*::before,*::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*=============================================*/
/*==============Recursos Generales=============*/
/*=============================================*/
.flex{
	display: flex;
}
.flex-1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-2{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.z-index{
	z-index: 2;
}

.pointer{
	cursor: pointer !important;
}

.none{
	display: none !important;
}

.sticky{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 22;
}

.main-1{
	padding: 3rem 4rem;
}

.text-1{
	text-align: center;
}
.text-2{
	text-align: justify;
}
.text-3{
	text-align: end;
}
/*=============================================*/

/*=============================================*/
/*=============================================*/
/*=============================================*/
.wd-1{
	width: 10% !important;
}
.wd-2{
	width: 20% !important;
}
.wd-3{
	width: 30% !important;
}
.wd-4{
	width: 40% !important;
}
.wd-5{
	width: 50% !important;
}
.wd-6{
	width: 60% !important;
}
.wd-7{
	width: 70% !important;
}
.wd-8{
	width: 80% !important;
}
.wd-9{
	width: 90% !important;
}
.wd-10{
	width: 100% !important;
}

.wd-s-1{
	width: 8.333% !important;
}
.wd-s-2{
	width: 16.666% !important;
}
.wd-s-3{
	width: 24.999% !important;
}
.wd-s-4{
	width: 33.32% !important;
}
.wd-s-5{
	width: 41.65% !important;
}
.wd-s-6{
	width: 50% !important;
}
.wd-s-7{
	width: 58.31% !important;
}
.wd-s-8{
	width: 66.64% !important;
}
.wd-s-9{
	width: 74.97% !important;
}
.wd-s-10{
	width: 83.30% !important;
}
.wd-s-11{
	width: 91.63% !important;
}
.wd-s-12{
	width: 100% !important;
}

.ht-1{
	height: 10% !important;
}
.ht-10{
	height: 100% !important;
}
/*=============================================*/

/*=============================================*/
/*===========Columnas Para la pagina===========*/
/*=============================================*/
.row{
	--bs-gutter-x: 1.5rem;
  	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-0.5 * var(--bs-gutter-x));
	margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col-1{
	flex: 0 0 auto;
	width: 10%;
}
.col-2{
	flex: 0 0 auto;
	width: 20%;
}
.col-3{
	flex: 0 0 auto;
	width: 30%;
}
.col-8{
	flex: 0 0 auto;
	width: 80%;
}
.col-9{
	flex: 0 0 auto;
	width: 90%;
}
.col-10{
	flex: 0 0 auto;
	width: 100%;
}

.cols-1{
	flex: 0 0 auto;
	width: 8.33%;
}
.cols-2{
	flex: 0 0 auto;
	width: 16.66%;
}
.cols-3{
	flex: 0 0 auto;
	width: 24.999%;
}
.cols-4{
	flex: 0 0 auto;
	width: 33.32%;
}
.cols-5{
	flex: 0 0 auto;
	width: 41.65%;
}
.cols-6{
	flex: 0 0 auto;
	width: 50%;
}
.cols-7{
	flex: 0 0 auto;
	width: 58.31%;
}
.cols-8{
	flex: 0 0 auto;
	width: 66.64%;
}
.cols-9{
	flex: 0 0 auto;
	width: 74.97%;
}
.cols-10{
	flex: 0 0 auto;
	width: 83.30%;
}
.cols-11{
	flex: 0 0 auto;
	width: 91.63%;
}
.cols-12{
	flex: 0 0 auto;
	width: 100%;
}
/*=============================================*/

/*=============================================*/
/*==========Margenes para la Pagina============*/
/*=============================================*/
/*Margin Ariba*/
.mt-1 {
    margin-top: 0.25rem !important;
}
.mt-2 {
    margin-top: 0.5rem !important;
}
.mt-3 {
    margin-top: 1rem !important;
}
.mt-4 {
    margin-top: 1.5rem !important;
}
.mt-5 {
    margin-top: 3rem !important;
}
.mt-auto {
    margin-top: auto !important;
}

/*Margin Abajo*/
.mb-3{
	margin-bottom: 1rem !important;
}
.mb-4{
	margin-bottom: 1.5rem !important;
}

/*Margin Derecha*/
.ml-1 {
    margin-left: 0.25rem !important;
}
.ml-2 {
    margin-left: 0.5rem !important;
}
.ml-3 {
    margin-left: 1rem !important;
}
.ml-4 {
    margin-left: 1.5rem !important;
}
.ml-5 {
    margin-left: 3rem !important;
}
.ml-auto {
    margin-left: auto !important;
}

/*Margin Izquierda*/
.mr-1 {
    margin-right: 0.25rem !important;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.mr-3 {
    margin-right: 1rem !important;
}
.mr-4 {
    margin-right: 1.5rem !important;
}
.mr-5 {
    margin-right: 3rem !important;
}
.mr-auto {
    margin-right: auto !important;
}
/*=============================================*/

/*=============================================*/
/*===============Gruesor del Texto=============*/
/*=============================================*/
.fw-1{
	font-weight: 100 !important;
}
.fw-2{
	font-weight: 200 !important;
}
.fw-3{
	font-weight: 300 !important;
}
.fw-4{
	font-weight: 400 !important;
}
.fw-5{
	font-weight: 500 !important;
}
.fw-6{
	font-weight: 600 !important;
}
.fw-7{
	font-weight: 700 !important;
}
.fw-8{
	font-weight: 800 !important;
}
.fw-9{
	font-weight: 900 !important;
}
/*=============================================*/

/*=============================================*/
/*=============Estilos para los hr=============*/
/*=============================================*/
.punteado{}

.deg-1{
	border: 1.5px solid; 
	border-radius: 1000px/10px; 
	height: 0px; 
	text-align: center;
	z-index: 1;
}
.deg-2{
	border: 3px solid; 
	border-radius: 300px/10px; 
	height: 0px; 
	text-align: center;
}
/*=============================================*/

/*=============================================*/
/*=Colores de los textos y hover de las mismas=*/
/*=============================================*/
.dark:hover{
	color: #3b3b3b !important;
}
.face:hover{
	color: #3b5998 !important;
}
.teleg:hover{
	color: #0088cc !important;
}
.whats:hover{
	color: #128c7e/*00bb2d*/ !important;
}

.bootstrap{
	color: #563d7c;
}
.c-sharp{
	color: #684d95;
}
.html{
	color: #e34c26;
}
.js{
	color: #f0db4f
}
/*=============================================*/

/*=============================================*/
/*========Colores o Textos con Filtro==========*/
/*=============================================*/
.bootstrap-f{
	filter: invert(25%) sepia(18%) saturate(2035%) hue-rotate(222deg) brightness(91%) contrast(83%);
}
.c-sharp-f{
	filter: invert(35%) sepia(14%) saturate(1815%) hue-rotate(221deg) brightness(94%) contrast(98%);
}
.html5-f{
	filter: invert(36%) sepia(51%) saturate(2192%) hue-rotate(346deg) brightness(92%) contrast(93%);
}
.css3-f{
	filter: invert(28%) sepia(33%) saturate(6299%) hue-rotate(218deg) brightness(99%) contrast(91%);
}
.js-f{
	filter: invert(91%) sepia(70%) saturate(1617%) hue-rotate(335deg) brightness(98%) contrast(100%);
}
/*=============================================*/

/*=============================================*/
/*==========Dimencion de los Circulos==========*/
/*=============================================*/
.cir-auto{
	width: auto;
	height: auto;
}
.cir-1{
	width: 50px;
	height: 50px;
}
.cir-2{
	width: 60px;
	height: 60px;
}
.cir-1{
	width: 50px;
	height: 50px;
}
.cir-1{
	width: 50px;
	height: 50px;
}
.cir-1{
	width: 50px;
	height: 50px;
}
/*=============================================*/

/*=============================================*/
/*===================Padding===================*/
/*=============================================*/
.pg-1{
	padding: 0.5rem;
}
.pg-2{
	padding: 1rem;
}
.pg-3{
	padding: 1.5rem;
}
.pg-4{
	padding: 2rem;
}

.pl-1{
	padding-left: .5rem;
}
.pl-2{
	padding-left: 1rem;
}
.pl-3{
	padding-left: 1.5rem;
}
.pl-4{
	padding-left: 2rem;
}

.pd-1{
	padding: .5rem .5rem 0 .5rem;
}
.pd-2{
	padding: 1rem 1rem 0 1rem;
}
.pd-3{
	padding: 1.5rem 1.5rem 0 1.5rem;
}
.pd-4{
	padding: 0 2rem 2rem 2rem;
}

.pn-1{
	padding: 0 .5rem .5rem .5rem;
}
.pn-2{
	padding: 0 1rem 1rem 1rem;
}
.pn-3{
	padding: 0 1.5rem 1.5rem 1.5rem;
}
.pn-4{
	padding: 0 2rem 2rem 2rem;
}
/*=============================================*/

/*=============================================*/
/*===============Borde Redondeado==============*/
/*=============================================*/
.br-6{
	border-radius: 6px !important;
}
/*=============================================*/

/*=============================================*/
/*============Colores para la Pagina===========*/
/*=============================================*/
.green{
	color: green;
}
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/
/*=============================================*/

.lbl-circle{
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-align: center;
}