*,*::before,*::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*=============================================*/
/*============Font-Size o Calibre==============*/
/*=============================================*/
.txt-auto{
	font-size: auto !important;
}
.txt-12{
	font-size: 12px !important;
}
.txt-13{
	font-size: 13px !important;
}
.txt-14{
	font-size: 14px !important;
}
.txt-15{
	font-size: 15px !important;
}
.txt-16{
	font-size: 16px !important;
}
.txt-17{
	font-size: 17px !important;
}
.txt-18{
	font-size: 18px !important;
}
.txt-20{
	font-size: 20px !important;
}
.txt-22{
	font-size: 22px !important;
}
.txt-24{
	font-size: 24px !important;
}
.txt-25{
	font-size: 25px !important;
}
.txt-26{
	font-size: 26px !important;
}
.txt-27{
	font-size: 27px !important;
}
.txt-28{
	font-size: 28px !important;
}
.txt-29{
	font-size: 29px !important;
}
.txt-30{
	font-size: 30px !important;
}
.txt-32{
	font-size: 32px !important;
}
.txt-34{
	font-size: 34px !important;
}
.txt-36{
	font-size: 36px !important;
}
.txt-38{
	font-size: 38px !important;
}
.txt-40{
	font-size: 40px !important;
}
.txt-42{
	font-size: 42px !important;
}
.txt-46{
	font-size: 46px !important;
}
.txt-44{
	font-size: 44px !important;
}
.txt-48{
	font-size: 48px !important;
}
.txt-50{
	font-size: 50px !important;
}
.txt-56{
	font-size: 56px !important;
}
.txt-58{
	font-size: 58px !important;
}
.txt-60{
	font-size: 60px !important;
}
.txt-62{
	font-size: 62px !important;
}
.txt-64{
	font-size: 64px !important;
}
.txt-66{
	font-size: 66px !important;
}
.txt-68{
	font-size: 68px !important;
}
.txt-69{
	font-size: 69px !important;
}
.txt-70{
	font-size: 70px !important;
}
.txt-72{
	font-size: 72px !important;
}
.txt-90{
	font-size: 90px !important;
}
.txt-100{
	font-size: 100px !important;
}
.txt-110{
	font-size: 110px !important;
}
.txt-120{
	font-size: 120px !important;
}
.txt-130{
	font-size: 130px !important;
}
.txt-140{
	font-size: 140px !important;
}
/*=============================================*/