@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body{
	font-size: 16px;
}

h2{
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
}

p,li{
	font-family: 'Fira Code', monospace;
	font-weight: 400;
}

/*=============================================*/
/*=================Diapositivas================*/
/*=============================================*/
.slides{
	width: 100vw;
	height: 100vh;
	display: block;
	color: #d9d9d9;
	background-color: #1b1a26;
	position: relative;
}

.titulo .cuerpo{
	width: 80%;
	height: 80%;
	background-color: #2a283d;
	color: #e4e4e2;
	border-radius: 10px;
	padding: 4% 0 0 6%;
}
.titulo .cuerpo h2{
	width: 65%;
	max-width: 65%;
	font-size: 110px;
}
.titulo .cuerpo p{
	font-size: 24px;
}

.titulo-cuerpo .cuerpo{
	width: 80%;
	height: 80%;
	background-color: #2a283d;
	color: #e4e4e2;
	border-radius: 10px;
	padding: 2% 0 0 3%;
	position: relative;
}
.titulo-cuerpo .cuerpo h2{
	font-size: 40px;
}
.titulo-cuerpo .cuerpo p{
	max-width: 96%;
	text-align: justify;
}
.titulo-cuerpo .cuerpo img{
	width: 70%;
	margin-left: 49%;
	transform: translate(-50%);
}
.titulo-cuerpo .cuerpo ul{
	margin-left: 2.3%;
	max-width: 93%;
	text-align: justify;
	font-size: 17px;
}
.titulo-cuerpo .cuerpo .movil{
	display: none;
}
.titulo-cuerpo .cuerpo table{
	width: 60%;
	margin: auto;
	margin-top: 10px;
	border: 1px solid aliceblue;
}
.titulo-cuerpo .cuerpo table th,
.titulo-cuerpo .cuerpo table td{
	font-size: 18px;
	padding: 5px;
	text-align: center;
	border: 1px solid aliceblue;
}

.dos-columna .cuerpo{
	width: 80%;
	height: 80%;
	background-color: #2a283d;
	color: #e4e4e2;
	border-radius: 10px;
	padding: 2% 0 0 3%;
	display: flex;
	flex-wrap: wrap;
}
.dos-columna .cuerpo .texto{
	font-size: 40px;
	width: 50%;
	max-width: 50%;
}
.dos-columna .cuerpo .texto h2{
	font-size: 60px;
	margin-bottom: 15px;
}
.dos-columna .cuerpo .texto p{
	font-size: 26px;
}
.dos-columna .cuerpo .texto ul li{
	font-size: 26px;
}
.dos-columna .cuerpo .imagen{
	width: 50%;
	max-width: 50%;
	display: block;
	position: relative;
}
.dos-columna .cuerpo .imagen img{
	width: 85%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.imagen .cuerpo{
	width: 80%;
	height: 80%;
	background-color: #2a283d;
	color: #e4e4e2;
	border-radius: 10px;
	padding: 2% 0 0 3%;
	position: relative;
}
.imagen .cuerpo h2{
	font-size: 36px;
}
.imagen .cuerpo img{
	width: 60%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
/*=============================================*/

/*=============================================*/
/*===============Icon de Ventana===============*/
/*=============================================*/
.menu-icon{
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	padding: 10px;
}
.menu-icon img{
	width: 16px;
	height: 16px;
}
.menu-icon img:nth-child(2),
.menu-icon img:nth-child(3){
	margin-left: 7px;
}

.blanco{
	filter: invert(99%) sepia(68%) saturate(0%) hue-rotate(117deg) brightness(87%) contrast(96%);
}
/*=============================================*/

/*=============================================*/
/*=============================================*/
/*=============================================*/
.control{
	position: fixed;
	bottom: 0;
	right: 0;
	display: none;
}
.control button{
	font-size: 60px;
	border: none;
	background-color: transparent;
	color: aliceblue;
}
.control button:nth-child(1){
	margin-right: 15px;
}
.control button:nth-child(2){
	margin-right: 15px;
}
/*=============================================*/

/*=============================================*/
/*=========Numeracion de Pie de Pagina=========*/
/*=============================================*/
.N-Pie{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
/*=============================================*/

@media (max-width: 1600px) {
	.titulo .cuerpo h2{
		font-size: 80px;
	}
	.titulo .cuerpo p{
		font-size: 20px;
	}

	.dos-columna .cuerpo .texto h2{
		font-size: 50px;
	}
	.dos-columna .cuerpo .texto p{
		font-size: 22px;
	}
	.dos-columna .cuerpo .texto ul li{
		font-size: 22px;
	}
}

@media (max-width: 1050px) {
	.titulo .cuerpo h2{
		font-size: 65px;
	}
	.titulo .cuerpo p{
		font-size: 16px;
	}

	.titulo-cuerpo .cuerpo h2{
		font-size: 50px;
	}
	.titulo-cuerpo .cuerpo .movil,
	.titulo-cuerpo .cuerpo .web{
		font-size: 25px;
	}
	.titulo-cuerpo .cuerpo table th, tr{
		font-size: 18px;
	}

	.dos-columna .cuerpo .texto h2{
		font-size: 50px;
	}
	.dos-columna .cuerpo .texto p{
		font-size: 16px;
	}
	.dos-columna .cuerpo .texto ul li{
		font-size: 16px;
	}
}

/*=== Reponsil para movil ===*/
@media (max-width: 500px){
	.control{
		display: flex;
	}
	.titulo .cuerpo h2{
		font-size: 40px;
	}
	.titulo .cuerpo p{
		font-size: 18px;
	}

	.titulo-cuerpo .cuerpo b,
	.titulo-cuerpo .cuerpo a{
		font-size: 16px;
	}
	.titulo-cuerpo .cuerpo .web{
		display: none;
	}
	.titulo-cuerpo .cuerpo .movil{
		display: block;
	}

	.dos-columna .cuerpo{
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 15px;
	}
	.dos-columna .cuerpo .texto{
		width: 100%;
		max-width: 100%;
	}
	.dos-columna .cuerpo .texto h2{
		font-size: 30px;
	}
	.dos-columna .cuerpo .texto p{
		font-size: 15px;
	}
	.dos-columna .cuerpo .texto ul li{
		font-size: 15px;
	}
	.dos-columna .cuerpo .imagen{
		width: 100%;
		max-width: 100%;
	}
	.dos-columna .cuerpo .imagen img{
		width: 40%;
		margin-top: 16%;
	}

	.imagen .cuerpo img{
		width: 80% !important;
	}
}